<h3>Class Edit Page</h3>
<form class="add-class-form" method="post"
action="/exclasses/<%= @exclass.id%>">
<label for="date">Date:</label>
<input type="date" name="date" id="date" value="<%= @exclass.date %>"/>

<label for="time">Time:</label>
<input type="time" name="time" id="time" value="<%= @exclass.time %>">

<label for="type">Type:</label>
<select name="type">
  <% for type in @classtypes %>
  <option <%="selected" if @exclass.type == type %>
  value="<%= type %>"><%= type %></option>
  <% end %>
</select>

<label for="length_min">Duration</label>
<select name="length_min">
  <% for length in @durations %>
  <option <%="selected" if @exclass.length_min == length %>
  value="<%= length %>"><%= length %></option>
  <% end %>
</select>

<br><br>
<label for="instructor">Instructor:</label>
<select name="instructor">
  <% for guy in @instructors %>
  <option <%="selected" if @exclass.instructor == guy %>
  value="<%= guy %>"><%= guy %></option>
  <% end %>
</select>

<label for="peak">Peak:</label>
<select name="peak" id="peak">
  <option value="t"
  <%= "selected" if @exclass.peak == "t" %>>yes</option>
  <option value="f"
  <%= "selected" if @exclass.peak == "f" %>
  >No</option>
</select>

<label for="capacity">Capacity:</label>
<input type="text" name="capacity" id="capacity"
value="<%= @exclass.capacity %>">

<p><input class="btn" type="submit" value="Edit Class ">
</form></p>
