<h3>Add a class</h3>
<form class="" action="/exclasses" method="post">
  <label for="Date">Date</label>
  <input type="date" id="date" name="date">
  <label for="Time">Time</label>
  <input type="time" id="time" name="time">

  <label for="Class">Type</label>
  <input type="text" id="type" name="type">
  <label for="Class">Duration</label>
  <input type="number" id="length-min" name="length_min"><br><br>
  <label for="instructor">Instructor</label>
  <input type="text" id="instructor" name="instructor">
  <label for="capacity">Class Capacity</label>
  <input type="number" id="capacity" name="capacity" default=30>
  <label for="peak">Peak Class?</label>
  <input type="radio" name="peak" value ="t">Yes
  <input type="radio" name="peak" value ="f">No



  <input class="btn" type="submit" value="Add new class">


</form>


<h3>List of all Classes</h3>
<% @exclasses.reverse.each do |exclass| %>
  <p>Date: <%= exclass.date %>&nbsp
    Time: <%=exclass.time %>&nbsp
  Type: <%= exclass.type %> &nbsp
  <p>Instructor: <%= exclass.instructor %> &nbsp
  Duration: <%= exclass.length_min.to_i() %> min</p>

  <p>Peak? :
    <%if exclass.peak == 't'%>
    <%="Yes"%>
    <%else%>
    <%="No"%>
    <% end %>
  &nbsp
  Number of Spaces:   <%=exclass.spaces() %>
  <form action="/exclasses/<%= exclass.id %>" method="get">
          <button class="btn" type="submit"><%= exclass.no_spaces_message_index %></button>
       </form></p>
<p><form action="/exclasses/<%= exclass.id %>/edit" method="get">
        <button class="btn" type="submit">Edit Class</button>
     </form></p>
  <p><form method = "post" action="exclasses/<%= exclass.id %>/delete">
    <input class="btn" type="submit" value ="Delete Class">
  </form></p>
  <hr />
<% end %>
