<h3>Add a class</h3>
<form class="add-class-form" action="/exclasses" method="post">
  <label for="Date">Date</label>
  <input type="date" id="date" name="date">
  <label for="Time">Time</label>
  <input  type="time" id="time" name="time">

  <label for="Class">Type</label>
  <select name="type" id="type" type="type">
    <% for type in @classtypes %>
    <option value="<%= type %>"><%= type %></option>
    <% end %>
  </select>

  <label for="Class">Duration</label>
  <select name="length_min" id="length_min" type="length_min">
    <% for length in @durations %>
    <option value="<%=length.to_i()%>"><%= length %></option>
    <%end %>
  </select>


  <br><br>
  <label for="instructor">Instructor</label>
  <select name="instructor" id="instructor">
    <% for guy in @instructors %>
    <option value="<%=guy  %>"><%= guy %></option>
    <%end %>
  </select>

  <label for="capacity">Class Capacity</label>
  <input  type="number" id="capacity" name="capacity" value=30>
  <label for="peak">Peak Class?</label>
  <input type="radio" name="peak" value ="t">Yes
  <input type="radio" name="peak" value ="f">No



  <input class="btn" type="submit" value="Add new class">


</form>

<hr>


<h3>List of all Classes</h3>
<% @exclasses.reverse.each do |exclass| %>
  <p>Date: <%= exclass.pretty_date() %>&nbsp
    Time: <%=exclass.time[0,5] %>&nbsp
  Type: <%= exclass.type %> &nbsp
  <p>Instructor: <%= exclass.instructor %> &nbsp
  Duration: <%= exclass.length_min.to_i() %> min</p>

  <p>Peak? :
    <%if exclass.peak == 't'%>
    <%="Yes"%>
    <%else%>
    <%="No"%>
    <% end %>
  &nbsp
  Number of Spaces:   <%=exclass.spaces() %>
  <p><form action="/exclasses/<%= exclass.id %>" method="get">
          <button class="btn" type="submit"><%= exclass.no_spaces_message_index %></button>
       </form><br>
<form action="/exclasses/<%= exclass.id %>/edit" method="get">
        <button class="btn" type="submit">Edit Class</button>
     </form><br>
  <form method = "post" action="exclasses/<%= exclass.id %>/delete">
    <input class="btn" type="submit" value ="Delete Class">
  </form></p>
  <hr />
<% end %>
